API_KEY=TB7AST8FPLI9N1EA0AJCBHVOC694343Kmf6XiFTdlDld2XZBO7vikH0Mm4d4QHPLtMRASY08
CANONICAL_WEBSITE=teaomaori
OWNER_ID=sandbox.whakaatamaori
DATABASE_FILE=C:\Users\sonesay.inthavong\Desktop\mts5\php\2023-02-07-laravel-web-scrapper\web\database\database.sqlite

# MTS-ARC-VIDEO-DOWNLOADER
BRIGHTCOVE_ACCOUNT_ID=1614493167001
BRIGHTCOVE_CLIENT_API_ID=323e35b4-dab7-4c5f-ad25-b3eb68ac55f3
BRIGHTCOVE_CLIENT_SECRET=xVz7ufhIJJGQR8-0gMuAnhP2B225kbAAN7HaIEKIh9Fil0s3sJnA0qg5sU9FN36uEWnx8BhSKwU9UYMYPBAI6Q


