API_KEY=TB7AST8FPLI9N1EA0AJCBHVOC694343Kmf6XiFTdlDld2XZBO7vikH0Mm4d4QHPLtMRASY08
CANONICAL_WEBSITE=teaomaori
OWNER_ID=sandbox.whakaatamaori
DATABASE_FILE=C:\Users\sonesay.inthavong\Desktop\mts5\php\2023-02-07-laravel-web-scrapper\web\database\database.sqlite
BRIGHTCOVE_CLIENT_API_ID=2b3aed30-76f4-4818-85d2-9e4d7b592607
BRIGHTCOVE_CLIENT_SECRET=2OX04JCnPp_8WMBw5CLPvRi5n24rSm2McZ1uwuliljZqzo2F8o2SwoG72xxng39govig8ODRGa3cxbD3io_jWQ